{% extends 'base.html.twig' %}
{% block stylesheet %} 
    <link href="{{ asset('css/backoffice.css') }}" rel="stylesheet">
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Register{% endblock %}

{% block body %}
<main>
    <div id="home">
        <a href="{{ path('fo_home') }}"><img src="{{asset('assets/return_icon.svg')}}" alt="Retour au site" />retour au site</a>
      </div>
      <div class="content">
        <div class="form-connexion">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}


            {{ form_start(registrationForm) }}
                <h1  class="h1-green">Incription</h1>
                {{ form_row(registrationForm.pseudo) }}
                {{ form_row(registrationForm.lastname, {'label': 'Prénom'}) }}
                {{ form_row(registrationForm.firstname, {'label': 'Nom'}) }}
                {{ form_row(registrationForm.email, {'label': 'Adresse mail'}) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                <button type="submit" class="btn border-button">Créer mon compte</button>
            {{ form_end(registrationForm) }}
        </div>
      </div>
     </main>
{% endblock %}
