{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('/css/backoffice.css')}}">
{% endblock %}

{% block title %}HO | Pages
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<h2 class="alert-message">{{message}}</h2>
		<hr><br>
	{% endfor %}
	<!--titre de la page-->
    <div class="disabled-zone-V0"></div>
	<section class="flex-h-spacebetween m-1-bottom">
		<h1 class="h1-green">Pages</h1>
		<a href="#" class="flex-center-h">
			<img src="{{asset('assets/information-green_icon.svg')}}" alt="icon aide" class="icon">
		</a>
	</section>
	<section>
		{% for page in pages %}

			<article class="card-pages p-1 m-1-top">
				<div class="visible  flex-h-spacebetween">
					<div class="m-2-right flex-center-h">
						<h2 class="h3-green">{{page.name}}</h2>
					</div>
					<div class="card-page flex-center-h">

						<div
							class="flex-center-h m-1-h">
							<!-- A DYNAMISER -->
							{% if page.status == TRUE %}
								<p class="textDetails m-1-left">Publier
								</p>
								<a href="{{path('page_publication', {'id' :page.id})}}"><img src="{{asset('assets/online_icon.svg')}}" alt=""></a>
							{% else %}
								<p class="textDetails m-1-left">Depublier
								</p>
								<a href="{{path('page_publication', {'id' :page.id})}}"><img src="{{asset('assets/offline_icon.svg')}}" alt=""></a>
							{% endif %}
						</div>
						<a href="{{path('page_modification', {'id' :page.id})}}" id="delete_information" class="btn border-button">
							modifier</a>
						<a id="showButton4" href="#"><img src="{{asset('assets/seeMore_icon.svg')}}" alt=""></a>
					</div>
				</div>

				<div id="hiddenCardPart4" class=" flex-h-spacebetween m-1-v">
					<div
						class="m-2-right m-1-v flex-center-h ">
						<!-- A DYNAMISER -->
						<p class="textDetails">Modifié le
							<span class="bold ">10 octobre 2021</span>
							par
							<span class="bold ">Clément Lebrun</span>
						</p>
					</div>
					<button type="" id="delete_information" name="delete_information" class="btn border-button-alert button-hidden">
						dépublier
					</button>
				</div>
			</article>
		{% endfor %}
	</section>

	<section class="m-2-top m-2-left">
		<form method="post">
			<div class="flex-center-h">
				<h2 class="h2 flex-center-h">Style du site
				</h2>
				<button style="cursor: pointer;" id="openpopup-page-accueil-seo"><img src="{{asset('assets/information-green_icon.svg')}}" alt="icon information" class="icon"></button>
			</div>
			<div class="flex w-100">
				<div
					class="m-2-right">
					
					<h3 class="h3">Thème</h3>
					<select id="style_options">
                        <option value="style1">Vert et marron</option>
                        <option value="style2">Thème 2</option>
                    </select>
					
				</div>
				<div>
					<h3 class="h3">
						<label for="title_catchphrase">
							Logo
						</label>
					</h3>
					<div class="input-custom">
						<img
						src="{{asset('assets/import_icon.svg')}}" alt="icone importer" class="icon-custom-download" style="cursor:pointer"/>
						<input type="file" id="title_seo" name="logo" value="logo">
					
					</div>
				</div>
				<div class="m-2-left">
					<h3 class="h3">
						<label for="baseline">
							Baseline
						</label>
						<input type="text" id="title_seo" name="title_seo" value="baseline" class="placeholder">
					</h3>
					 
				</div>
			</div>
			<div class="w-100 m-1-v flex">
				<div class="w-60">
					<h3 class="h3">Réseaux
						<span class="textDetails">entrer l'url de vos pages réseau si vous en avez</span>
					</h3>
					<div class="flex-center-h">
						<img src="{{asset('assets/facebook_icon.png')}}" alt="logo facebook" class="icon">
                        <input type="text" id="title_seo" name="title_seo" value="Facebook" class="placeholder">
						<img src="{{asset('assets/twitter_icon.png')}}" alt="logo facebook" class="icon">
                        <input type="text" id="title_seo" name="title_seo" value="Twitter" class="placeholder">
						<img src="{{asset('assets/instagram_icon.png')}}" alt="logo facebook" class="icon">
                        <input type="text" id="title_seo" name="title_seo" value="Instagram" class="placeholder">
					</div>
				</div>
					<div class="flex">
						<input type="submit" value="Enregistrer" class="btn sweet-button p-05 m-2-left" style="align-self:flex-end">
					</div>
				</div>
			</div>
		</div>
	</form>
</section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/jquery-3.6.0.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/navbo.js')}}"></script>
{% endblock %}
