<footer>

    <div class="content-footer-flexFO">

      <!--LOGO-->
      <img src="{{asset('assets/logo-theme1_icon.svg')}}" class="logo-footer" alt="Logo du site" />


      <!--SITE PLAN-->
      
      <div class="bloc footer-mapFO">
        <h2>Plan du site</h2>
          <ul>
            <li><a href="{{path('fo_presentation')}}">Présentation Amap</a></li>
            <li><a href="{{path('fo_map')}}">Lieu/Planning de distribution</a></li>    
            <li><a href="{{path('fo_product')}}">Produits</a></li>
            <li><a href="{{path('fo_presentation')}}">Producteurs/Bénévoles</a></li>
            <li><a href="{{path('fo_cgu')}}">CGU</a></li>
          </ul>
      </div>

      <!--CONTACT-->
      
      <div class="bloc footer-contactFO">
        <h2>Nous contacter</h2>
          <ul>
            <li><a href="{{path('fo_contact')}}">Contact</a></li>
            <li><a href="{{path('fo_inscription')}}">Inscription</a></li>
          </ul>
      </div>

      <!--ADMIN-->
      
      <div class="bloc footer-adminFO">
        <h2>Espace administrateur</h2>
          <ul>
            <li><a href="{{path('app_login')}}" target="_blank">Se connecter</a></li>
          </ul>
      </div>

      <!--SOCIAL NETWORK-->
      
      <div class="bloc footer-networkFO">
        <h2>Suivez-nous !</h2>
      
        <div class="social-network-flexFO">
      
          <div class="social-network-columnFO">
            <ul>
              <li><a href="#"><img src="{{asset('assets/instagram-theme1_icon.svg')}}" alt="Logo Instagram" /></a></li>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>

          <div class="social-network-columnFO">
            <ul>
              <li><a href="#"><img src="{{asset('assets/twitter-theme1_icon.svg')}}" alt="Logo Twitter" /></a></li>
              <li><a href="#">Twitter</a></li>
            </ul>
          </div>
          
          <div class="social-network-columnFO">
            <ul>
              <li><a href="#"><img src="{{asset('assets/facebook-theme1_icon.svg')}}" alt="Logo Facebook" /></a></li>
              <li><a href="#">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </footer>